<section>
  <main>
    <div class="container py-4">
      <h2 class="text-center mb-4">Listado de Productos</h2>

      <div class="product-list scroll-container p-3">

        <!-- Producto 1 -->
        <div class="card card-option mb-3 p-3 d-flex flex-md-row align-items-center justify-content-between">
          <div>
            <h5 class="text-white m-0">Laptop Lenovo</h5>
            <small class="text-info">Categoría: Tecnología</small><br>
            <small class="text-warning">Cantidad: 12</small>
          </div>
          <div class="mt-2 mt-md-0">
            <button class="btn btn-success btn-sm me-2" [routerLink]="['/registros']">Agregar</button>
            <button class="btn btn-danger btn-sm">Remover</button>
          </div>
        </div>

        <!-- Producto 2 -->
        <div class="card card-option mb-3 p-3 d-flex flex-md-row align-items-center justify-content-between">
          <div>
            <h5 class="text-white m-0">Iphone 14 Pro Max</h5>
            <small class="text-info">Categoría: Apple</small><br>
            <small class="text-warning">Cantidad: 5</small>
          </div>
          <div class="mt-2 mt-md-0">
            <button class="btn btn-success btn-sm me-2" [routerLink]="['/registros']">Agregar</button>
            <button class="btn btn-danger btn-sm">Remover</button>
          </div>
        </div>

        <div class="card card-option mb-3 p-3 d-flex flex-md-row align-items-center justify-content-between">
          <div>
            <h5 class="text-white m-0">Iphone 15 Pro</h5>
            <small class="text-info">Categoría: Apple</small><br>
            <small class="text-warning">Cantidad: 9</small>
          </div>
          <div class="mt-2 mt-md-0">
            <button class="btn btn-success btn-sm me-2" [routerLink]="['/registros']">Agregar</button>
            <button class="btn btn-danger btn-sm">Remover</button>
          </div>
        </div>

      </div>
    </div>
  </main>
</section>